<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd nlog.xsd"
      autoReload="true"
	    parseMessageTemplates="false"
      throwExceptions="true"
      internalLogLevel="Warn" internalLogFile="${basedir}/logs/nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

	<!--
	  CREATE TABLE [dbo].[Logs] (
   [ID] [int] IDENTITY(1,1) NOT NULL,
   [LoggedAt] [datetime] NOT NULL,
   [Level] [varchar](5) NOT NULL,
   [Message] [nvarchar](max) NOT NULL,
   [Logger] [nvarchar](300) NULL,
   [Properties] [nvarchar](max) NULL,
   [Callsite] [nvarchar](300) NULL,
   [Exception] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED ([ID] ASC) 
   WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];

GO
	  -->
	<target xsi:type="Database"
        name="db"
        dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
        connectionString="${configsetting:ConnectionString}">
		<commandText>
			INSERT INTO [dbo].[Logs]
			(loggedAt, level, message, logger, properties, callsite, exception)
			VALUES
			(@loggedAt, @level, @message, @logger, @properties, @callsite, @exception)
		</commandText>
		<parameter name="@loggedAt"       layout="${date}" />
		<parameter name="@level"          layout="${level}" />
		<parameter name="@message"        layout="${message}" />
		<parameter name="@logger"         layout="${event-properties:targetLogger}" />
		<parameter name="@properties"     layout="${event-properties:logData}" />
		<parameter name="@callsite"       layout="${callsite}" />
		<parameter name="@exception"      layout="${exception:tostring}" />
	</target>

	  <!--
        Write events to a file with the date in the filename.
	-->
	  <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
			  layout="${longdate} ${uppercase:${level}} ${logger:shortName=true} ${message} ${exception:format=tostring} ${event-properties:logData}" />
	  
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
        Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
	-->
    <logger name="ScalableIPC.IntegrationTests" minlevel="Debug" writeTo="db" final="true" />
    <logger name="*" minlevel="Debug" writeTo="f" />
	  
  </rules>
</nlog>
